allBulletin/.env
apiGateway/.env
auth/.env
bulletin/.env

allBulletin/node_modules
allBulletin/public/hot
allBulletin/public/storage
allBulletin/storage/*.key
allBulletin/vendor
allBulletin/.env.backup
allBulletin/.phpunit.result.cache
allBulletin/docker-compose.override.yml
allBulletin/Homestead.json
allBulletin/Homestead.yaml
allBulletin/npm-debug.log
allBulletin/yarn-error.log
/.idea
/.vscode

apiGateway/node_modules
apiGateway/public/hot
apiGateway/public/storage
apiGateway/storage/*.key
apiGateway/vendor
apiGateway/.env.backup
apiGateway/.phpunit.result.cache
apiGateway/docker-compose.override.yml
apiGateway/Homestead.json
apiGateway/Homestead.yaml
apiGateway/npm-debug.log
apiGateway/yarn-error.log
/.idea
/.vscode

auth/node_modules
auth/public/hot
auth/public/storage
auth/storage/*.key
auth/vendor
auth/.env.backup
auth/.phpunit.result.cache
auth/docker-compose.override.yml
auth/Homestead.json
auth/Homestead.yaml
auth/npm-debug.log
auth/yarn-error.log
/.idea
/.vscode


bulletin/node_modules
bulletin/public/hot
bulletin/public/storage
bulletin/storage/*.key
bulletin/vendor
bulletin/.env.backup
bulletin/.phpunit.result.cache
bulletin/docker-compose.override.yml
bulletin/Homestead.json
bulletin/Homestead.yaml
bulletin/npm-debug.log
bulletin/yarn-error.log
/.idea
/.vscode